<!--blog.hbs-->
        <div class="row">
            <section class="main col-md-9">
                {{#if data.post}}
                <article>
                    <h2>{{data.post.title}}</h2>
                    <img src="{{data.post.featureImage}}" alt="{{data.post.title}} image">
                    {{#safeHTML data.post.body}}
                    {{/safeHTML}}
                    <p><strong>Category:</strong> {{data.post.category}}</p>
                    <p><strong>Last Updated:</strong> {{data.post.postdate}}</p>
                </article>
                {{else}}
                <div class="col-md-12 text-center">
                    <h2>{{data.message}}</h2>
                    <p>Please try another Post / Category</p>
                </div>
                {{/if}}

                {{#if data.posts}}
                <h4>Posts</h4>
                <ul>
                    {{#each data.posts}}
                    <li><a href="/blog/{{this.id}}?category={{../viewingCategory}}">{{this.title}}</a></li>
                    {{/each}}
                </ul>
                {{/if}}

                {{#if data.categories}}
                <h4>Categories</h4>
                <ul>
                    {{#each data.categories}}
                    <li><a href="/blog?category={{this.id}}">{{this.category}}</a></li>
                    {{/each}}
                </ul>
                {{/if}}
        </div>

