
        <div class="row">
            <div class="col-md-12">
                <h2>Categories<a href="/categories/add" class="btn btn-success pull-right">Add Category</a></h2>
                <hr />

                <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each categories}}
                    <tr>
                        <td><a href="/posts?category={{this.id}}">{{this.id}}</a></td>
                        <td><a href="/posts?category={{this.id}}">{{this.category}}</a></td>
                        <td>
                            <form method="POST" action="/categories/delete/{{this.id}}">
                                <button type="submit" class="btn btn-danger">remove</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
                </div>

                {{#unless categories}}
                <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
                </div>
                {{/unless}}

            </div>
        </div>

 

