<!--categories.hbs-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified Bootstrap 3.4.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" />
      
    <title>Allan John's Blog</title>
  </head>
  <body>
    <div class="container" style="padding-top:60px">
        <div class="row">
            <div class="col-md-12">
                <h2>Categories</h2>
                <hr />

                <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each categories}}
                    <tr>
                        <td><a href="/posts?category={{this.id}}">{{this.id}}</a></td>
                        <td><a href="/posts?category={{this.id}}">{{this.category}}</a></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
                </div>

                {{#unless categories}}
                <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
                </div>
                {{/unless}}

            </div>
        </div>

    </div>
  </body>
</html>
