<!--posts.hbs-->
<div class="row">
  <div class="col-md-12">
    <h2>Posts</h2>
    <hr />

    {{#if message}}
      <p>{{message}}</p>
    {{else}}
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          {{#each posts}}
            <tr>
              <td>{{title}}</td>
              <td>{{formatDate createdAt}}</td>
              <td>{{category}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>
